.foot {
  color: set-color(black);
  width: 100%;
  padding: 1% 2%;
  &__content {
    &--icon {
      display: grid;
      grid-template: auto/1fr 1fr 1fr;
      grid-gap: 10px;
      &--envelope,
      &--map,
      &--phone {
        display: flex;
        flex-direction: column;
        color: set-color(gray-4);
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        @include transition(all, 1s, ease, null);
        .fas {
          font-size: 30px;
        }
        span {
          font-size: 18px;
          margin-top: 15px;
        }
        &:hover {
          color: set-color(black);
        }
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    &--let {
      font-size: 42px;
      font-weight: 300;
      color: set-color(black);
      line-height: 1.2;
      width: set-col-width(2);
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: set-col-width(2);
      a {
        width: auto;
        text-align: right;
        li {
          display: block;
          padding: 8px;
          margin: 0.2em 0;
          border-radius: 0.2em;
          color: set-color(black);
          @include transition(all, 1s, ease, null);
          &:hover {
            color: set-color(gray-5);
          }
        }
      }
    }
    &--copy {
      text-align: center;
      display: block;
      padding-top: 10px;
      a {
        color: set-color(black);
        @include transition(all, 0.5s, ease, null);
        text-decoration: underline double set-color(gray-4);
        &:hover {
          text-decoration: none;
        }
      }
    }
    &--social-icon {
      text-align: center;
      .fab {
        font-size: 30px;
        padding: 8px;
        color: set-color(gray-4);
        margin: 8px;
        @include transition(all, 0.5s, ease, null);
        &:hover {
          color: set-color(black);
        }
      }
    }
  }
}

//media queries
@include screen-max-width(835) {
  .foot__content--lets {
    display: flex;
    flex-direction: column;
    .foot__content__list,
    .foot__content--let {
      align-items: center;
      text-align: center;
      padding: 10px 0;
      width: set-col-width(1);
    }
  }
}
@include screen-max-width(428) {
  .foot__content--let {
    font-size: 32px;
  }
}
@include screen-max-width(835) {
  .foot__content__list {
    a {
      text-align: center;
    }
  }
}
//row-start,column-start,row-end ,column-end
@include screen-max-width(650) {
  .foot__content--icon {
    grid-template: 1fr 1fr/1fr 1fr;
    &--phone {
      grid-area: 2/1/-1/-1;
    }
  }
}
@include screen-max-width(500) {
  .foot__content--icon {
    grid-template: 1fr 1fr/1fr;
  }
}
