.nav {
  width: 100%;
  height: auto;
  background: set-color(gray-4);
  &__bar {
    padding: 0.8em 1em; //tbpx rlpx
    display: flex;
    flex: none;
    align-items: center;
    justify-content: space-between;
    a img {
      height: auto;
      width: 6em;
      background-size: cover;
    }
    &__humburger {
      background-color: transparent;
      display: none;
      @include transition(all, 1s, ease, null);
      &:hover {
        color: set-color(gray-5);
      }
      @include screen-max-width(750) {
        display: block;
        position: absolute;
        right: 1em;
      }
    }
    ul {
      display: flex;
      flex: none;
      color: set-color(white);
      li {
        margin: 0 1ex;
        padding: 8px;
        border-radius: 5px;
        font-size: 1em;
        color: set-color(gray-9);
        cursor: pointer;
        @include transition(all, 1s, ease, null);
        &:hover {
          border-bottom: 1px solid set-color(gray);
          background-color: set-color(gray-2);
          color: set-color(gray-7);
        }
      }
      @include screen-max-width(750) {
        display: none;
        @include transition(all, 1s, ease, null);
      }
    }
  }
}
//when we click the btn bar then open the menu as a toggle class
@include screen-max-width(750) {
  .nav__bar {
    position: relative;
    ul.open-close {
      display: flex;
      flex-direction: column;
      position: absolute;
      @include inset(75px 0 0 0);
      background: set-color(gray-4);
      padding: 1em 0;
      width: set-col-width(1);
      height: 520px;
      justify-content: center;
      align-items: center;
      li {
        @include transition(all, 1s, ease, null);
        margin: 0.4em 0;
        display: block;
        font-size: 30px;
        text-align: center;
        border-radius: 5px;
      }
    }
  }
}
