header {
  width: 100%;
  height: auto;
  background: set-color(gray-4);
  nav {
    padding: 0.5rem 0.8rem; //tbpx rlpx
    display: flex;
    flex: none;
    align-items: center;
    justify-content: space-between;
    a img {
      height: auto;
      width: 1.2in;
      background-size: cover;
    }
    button {
      background-color: transparent;
      display: none;
      @include transition(all,1s,ease,null);
      &:hover {
        color: set-color(gray-5);
      }
      @include screen-max-width(720) {
        display: block;
        position: absolute;
        right: 0.2in;
      }
    }
    ul {
      display: flex;
      flex: none;
      color: set-color(white);
      li {
        margin: 0 1ex;
        padding: 8px;
        border-radius: 5px;
        font-size: 1rem;
        color: set-color(gray-9);
        cursor: pointer;
        @include transition(all,1s,ease,null);
        &:hover {
          border-bottom: 1px solid set-color(gray);
          background-color: set-color(gray-2);
          color: set-color(gray-7);
        }
      }
      @include screen-max-width(720) {
        display: none;
      }
    }
  }
}
//when we click the btn bar then open the menu as a toggle class
@include screen-max-width(720) {
  header nav {
    position: relative;
    ul.open-close {
      display: block;
      position: absolute;
      background: set-color(gray-4);
      right: 0;
      top: 0.7in;
      padding: 2rem 0;
      width: set-col-width(1);
      min-height: 80vh;
      li {
        @include transition(all,1s,ease,null);
        margin: 2rem 0;
        display: block;
        font-size: 32px;
        text-align: center;
        border-radius: 0;
      }
    }
  }
}
